
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap">');


body{
font-family: 'Cairo', serif;
 backround-image: url("https://github.com/CatEatsFish/portfolio/blob/master/YYY.jpg?raw=true");
 backround-repeat: no-repeat;
 backround-position: center;
 backround-size: cover;
}

.bigheading {
  fort-size: 75px
   color: #2C2ED8:

 h1{
  font-style: italic;
  font-size: 30px:
  color: #3A98D1
  border: 5px ridge blue;
  color: blue;
  animation-name: animationA;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
 
@keyframes animationA {
  0% {color: blue;} 
 50% {color: #DA1E1E;}
 100% {color: blue;}
 
 }
 
p {
  color: #3C75E6
}

 .navbar {
  overflow: hidden;
  backround-color: #2331FF;
 }
 
 .navbar a {
   float: left
     display: black;
  color: #FFFFFF ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
 }
 
 .navbar a:hover {
  backround-color: #0017FF
   color: #000000;
 }
 
 .navbar a.active {
 
