
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap">');


body{
font-family: 'Cairo', serif;
 background-image: url("https://github.com/CatEatsFish/portfolio/blob/master/thunderstormbackground.jpg?raw=true");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

.bigheading {
  fort-size: 75px
   color: #2C2ED8:
}

}
   

.smash {
 font-size: 75px;
 color: #xxxxxxx
  
 h1{
  font-style: italic;
  font-size: 50px:
  color: white
  border: 5px ridge white;
  animation-name: animationA;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
 
@keyframes animationA {
  0% {color: blue;} 
 50% {color: #DA1E1E;}
 100% {color: blue;}
 
 }
 
p {
  color: #3C75E6
}

 .navbar {
  overflow: hidden;
  backround-color: #2331FF;
 }
 
 .navbar a {
   float: left
     display: black;
  color: #FFFFFF ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
 }
 
 .navbar a:hover {
  backround-color: #0017FF
   color: #000000;
 }
 
 .navbar a.active {
   background-color: #FFFFFF
    color: Black;
 }
 
