@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

body{
font-family: 'Nanum Myeongjo', serif;
 backround-image: url("https://github.com/CatEatsFish/portfolio/blob/master/YYY.jpg?raw=true");
 backround-repeat: no-repeat;
 backround-position: center;
 backround-size: cover;
}

.bigheading {
  fort-size: 75px
   color: #2C2ED8:

h1{
 font-style: italic;
  font-size: 30px:
  color: #3A98D1
  botder: 5px ridge blue:
}

p {
  color: #3C75E6
}
